:root {
    --bg-grey: #f1f1f1;
    --bg-grey-01: #f8f8f8;
    --bg-green: #019587;
    --bg-dark: #435B71;
}

.vertical-line-custom {
    border-right: 1px solid var(--bg-grey);
    height: auto;
}

.bg-csr-green {
    background-color: var(--bg-green);
}

.bg-cst-dark {
    background-color: var(--bg-dark);
}

/* Custom jadwal  */
.zoom-card {
    cursor: pointer;
    transition: 0.3s;
}

.zoom-card:hover {
    transform: scale(1.03);
    background-color: rgb(79, 16, 95);
    /* background-image: linear-gradient(135deg, #F6CEEC 10%, #D939CD 100%); */
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 40%, rgba(0, 212, 255, 1) 100%); */
    /* background: rgb(17, 2, 24); */
    /* background-image: linear-gradient(90deg, rgba(17, 2, 24, 1) 0%, rgba(18, 9, 121, 1) 40%, rgba(119, 0, 255, 1) 100%); */
    color: white;
}

/* Custom materi  */
.zoom-card-materi {
    cursor: pointer;
    transition: 0.3s;
}

.zoom-card-materi:hover {
    background-color: #052b94;
    color: white;
}

/* Custom jadwal show  */
.zoom-card-jadwal-show {
    cursor: pointer;
    transition: 0.3s;
}

.zoom-card-jadwal-show:hover {
    background-color: rgb(11, 103, 139);
    color: white;
}

/* Custom jadwal show  */
.zoom-card-ujian {
    cursor: pointer;
    transition: 0.3s;
}

.zoom-card-ujian:hover {
    background-color: rgb(173, 4, 97);
    color: white;
}

/* Custom admin user */
.zoom-card-user {
    cursor: pointer;
    transition: 0.3s;
}

.zoom-card-user:hover {
    background-color: #3F3D56;
    color: white;
}

/* Custom jawaban user */
.zoom-card-jawaban {
    cursor: pointer;
    transition: 0.3s;
}

.zoom-card-jawaban:hover {
    background-color: rgb(29, 138, 76);
    color: white;
}

/* Custom Trainer */
.zoom-card-trainer {
    cursor: pointer;
    transition: 0.3s;
}

.zoom-card-trainer:hover {
    background-color: rgb(151, 105, 147);
    color: white;
}

/* Custom jadwal*/
.zoom-card-jadwal {
    cursor: pointer;
    transition: 0.3s;
}

.zoom-card-jadwal:hover {
    background-color: rgb(79, 16, 95);
    color: white;
}

/*Ending Card Custom */

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.modal::-webkit-scrollbar {
    width: 0.25rem;
}

.modal::-webkit-scrollbar-track {
    background: #1e1e24;
}

.modal::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.datepicker {
    z-index: 1100 !important;
}

.kiri-image-admin {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 40%, rgba(0, 212, 255, 1) 100%);
}
